
article {
  margin: auto 0;
}


body{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 

/* .navbar {
  position: relative;
  display: flex;
  background-color: #FFB562;
} */

.footerDefault {
  background-color: #F9F2ED;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

/* @media (min-width:768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (min-width:1200px) {
  .py-xl-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
} */

.position-relative {
  position: relative!important;
  height: 100%;
  background-color: #F9F2ED;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
  background-color:#F87474;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

#home{
  background-color: #F9F2ED;
}

.navbar-custom{
  background-color: #F87474;
}

/* .columns{
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
} */


/* .pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
} */

.page-item a{
  color: black;
}

.pagination > .active > a{
  color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.boxfloat { border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll; }