body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F9F2ED ;
} 

.navbar {
  position: relative;
  display: flex;
  background-color: #FFB562;
}

.footerDefault {
  background-color: #F9F2ED;
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

@media (min-width:768px) {
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (min-width:1200px) {
  .py-xl-5 {
    padding-top: 3rem!important;
    padding-bottom: 3rem!important;
  }
}

.position-relative {
  position: relative!important;
  height: 100%;
  background-color: #F9F2ED;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

