{% extends 'template_base.html' %} 
{% block title %}Homepage - Pardoc{% endblock %} 
{% block content %}

<div class="container rounded bg-white mt-5">
    <div class="row">

        {{session}}
        <form action="update-users" method="post" enctype="multipart/form-data" > 
                    <input name="name" id="name" type="text" class="form-control" placeholder="{{user.name}}">
                    <input name="email" id="email" type="email" class="form-control" placeholder="{{user.email}}">
                    <input type="tel" id="phone" name="phone" placeholder="{{user.phone}}">
                    <input name="dob" id="dob" type="date" class="form-control" placeholder="{{user.dob}}">
                    <input name="gender" id="gender" type="text" class="form-control" placeholder="{{user.gender}}">
                    <input name="tb" id="tb" type="number" class="form-control" placeholder="tinggi badan : {{user.tb}}">
                    <input name="bb" id="bb" type="number" class="form-control" placeholder="berat badan : {{user.bb}}">
                    <button type="submit" class="">Update Profile</button>           
        </form>
    </div>
</div>

{% endblock %}