{% extends 'template_base.html' %} 
{% block title %}List Penyakit{% endblock %} 
{% block content %}


<div id="view"> 
  <div class="container">
    <div class="row justify-content-center">
      <table class="mt-4">
        <thead>
          <tr>
            <th>NO</th>
            <th>NAMA PENYAKIT</th>
            <th>LEVEL</th>
            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          {% for i in penyakit %}
            <tr>
              <td>{{ loop.index + pagination.skip }}</td>
              <td>{{ i[1] }}</td>
              <td>{{ i[3] }}</td>
              <td><a href="{{ url_for('bp_profile.delete_penyakit',penyakitId = i[0]) }}" class="btn btn-danger">DELETE</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
      <div class="text-center mt-4 mb-2">
        {{ pagination.info|safe }}
      </div>
      <div class="wrappagination mb-4">
        {{ pagination.links }} 
      </div>
        
        <a href="{{ url_for('bp_profile.add_penyakit') }}" class="btn btn-primary">Add Penyakit</a>
    </div>
    
  </div>
    
      
    

</div>   


{% endblock %}