{% extends 'template_base.html' %} 
{% block title %}Doktor - Pardoc{% endblock %} 
{% block content %}


{% with messages = get_flashed_messages() %}
{% if messages %}
<section class="testimonials">
<div class="row">
	<div class="large-12 large-centered column">
	<h3>ERROR</h3>
	<span>
	{% for message in messages %}
	{{ message }}
	{% endfor %}
	</span><p></p>
</div>
</div>
</section>
{% endif %}
{% endwith %}


<a href="{{ url_for('bp_profile.list_penyakit')}}">list disease</a>
<a href="{{ url_for('bp_profile.list_gejala')}}">list symptoms</a>
<a href="{{ url_for('bp_profile.list_drug')}}">list drug</a>



{% endblock %}