{% extends 'template_base.html' %} 
{% block title %}List Gejala{% endblock %} 
{% block content %}


{% for i in gejala %}

<div class="card">
    <div class="card-header">
      SYMPTOMPS
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ i[1] }}</h5>
      <p class="card-text">{{i[2]}}</p>
      <a href="{{ url_for('bp_profile.delete_gejala',gejalaId = i[0]) }}" class="btn btn-danger">delete</a>
    </div>
  </div>

  {% endfor %}

  {{ pagination.info|safe }}

  {{ pagination.links }} 

  {% if session['role'] == 'dokter' %}
  <a href="{{ url_for('bp_profile.page_add_gejala') }}" class="btn btn-dark">Add Gejala</a>
  {% endif %}

{% endblock %}