{% extends 'template_base.html' %} 
{% block title %}List User{% endblock %} 
{% block content %}



    <div id="view"> 
        <div id="container">
            {% for i in list_user %}
                <!-- row 01 -->
                <div class="row justify-content-center">
                    <div class="cardListUser">
                        <h3>NAME : {{i[1]}}</h3>
                        <h3 class="jobtype">USER ID : {{i[0]}}</h3>
                            
                        <a href="{{ url_for('bp_profile.delete_list_users',userId = i[0]) }}" class="btn btn-danger">delete</a>
                    </div>
                </div>   
        </div>
    </div>
            {% endfor %}



</div>   

{% endblock %}